/* Geral */
* {
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400px;
  letter-spacing: .5px;
  transition: 5ms ease-in-out;
}
body {
  background-color: rgb(248, 255, 243);
}
section {
  align-items: center;
  align-content: center;
  font-size: 13px;
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(248, 255, 243);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 17px;
  padding: 10px;
  color: #333;
  margin: 10px;
}
h2 {
  font-size: 16px;
  padding: 10px;
  color: #333;
}
p {
  text-indent: 30pt;
  text-align: justify;
  font-size: 15px;
  margin: 10px 20px 0px 20px;
}
#head{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: 50px;
}
nav {
  position: fixed;  
  top: 10px;        
  left: 200px;     
  z-index: 1000;    
  background-color: white;  
  padding: 10px;    
  border-radius: 5px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
nav.scrolled {
  background-color: rgba(255, 255, 255, 0.7);  
}
nav ul {
  list-style-type: none;
  width: 500px;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;   
}
nav li {
  display: inline;
  font-size: 15px;
}
nav a {
  border-radius: 25px;
  text-decoration: none;
  color: #333;
  padding: 5px 10px; 
  transition: background-color 0.3s;  
}
nav a:hover {
  background-color: #f0f0f0;  
}
.darkMode{
  position: fixed;
  top: 20px;
  right: 100px;
}
/*Inputs*/
#ingredients {
  width: 100px;
}
input {
  width: 70px;
  text-align: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid;
}
/*Tabela custos*/
#containerTable {
  display: block;
  width: 100%;
  height: auto;
  min-height: 400px;
  margin: 15px;  
  gap: 15px;
  border: 1px solid;
}
#divTable {
  position: relative;
  top: 10px;
  left: -270px;
  overflow-y: auto;
  background: rgb(216, 255, 198);
  width: 600px;
  border: 1px solid;
  border-radius: 15px;
}
#foodTable {
  display: table;
  position: relative;
  overflow-y: auto;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  border-spacing: 0px;
  text-align: center;
  padding: 10px;
}
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
#trCustoTotal {
  opacity: 0;
}
.custoTotal {
  text-align: right;
  padding-right: 15px;
}
#custosUni {
  display: block;
  position: relative;
  top: -160px;
  left: 270px;
  border: 1px solid;
  border-radius: 15px;
  width: 400px;
  padding: 10px;
  background: rgb(216, 255, 198);
}
.custosFixos {
  border: 1px solid;
  border-radius: 15px;
  width: 400px;
  padding: 10px; 
  display: block;
  position: relative;
  top: -70px;
  left: 270px;
  background: rgb(216, 255, 198);
}
/*Botões*/
.btnAdd {
  border: none;
  cursor: pointer;
  background: none;
  color: blue;
  transition: 0, 5 ease-in-out;
}
#btnAdd:hover {
  transform: scale(1.1);
}
#btnEdit,
#btnDelete,
#btnDone {
  padding: 0px;
  margin: 0px;
  border: none;
  color: rgb(155, 155, 155);
  background-color: transparent;
  scale: 0.6;
  cursor: pointer;
}
#btnEdit:hover {
  transform: scale(1.2);
  color: blue;
}
#containerIframe {
  display: grid;
  justify-content: center;
  align-items: center;
}
#iframe {
  width: 600px;
  height: 300px;
  align-items: center;
  margin-top: 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.btnsIframe {
  align-items: center;
  max-width: 630px;
}
.btnIframe {
  cursor: pointer;
  margin: 0px;
  transition: transform 0.1 ease-in-out;
}
.btnIframe:hover {
  transform: scale(1.02);
}
footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(248, 255, 243);
  color: black;
}
