body {
  margin: 10px;
  align-items: center;
  font-size: 13px;
}
#ingredients {
  width: 100px;
}
input {
  width: 70px;
  text-align: center;
  justify-content: center;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}
#typeFood {
  border: none;
  box-shadow: 1px 1px 1px black;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 5px 5px 5px;
}
#articleTable {
  display: block;
  width: 600px;
  border: 1px solid;
}
#foodForm {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
}
#foodTable {
  display: table;
  border-top: 1px solid black;
  border-spacing: 0px;
  text-align: center;
  padding: 10px;
}
#btnAdd {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: blue;
  transition: 0, 5 ease-in-out;
}
#btnAdd:hover {
  transform: scale(1.1);
}
#btnEdit {
  padding: 0px;
  margin: 0px;
  border: none;
  color: thistle;
  background-color: transparent;
  scale: 0.6;
  cursor: pointer;
}
#btnEdit:hover {
  transform: scale(1.2);
  color: blue;
}
.lineOne {
  padding: 5px;
  width: 500px;
}
#trCustoTotal {
  opacity: 0;
}
#thBtn {
  width: 50px;
}
.custoTotal,
.custoPorcao {
  text-align: right;
  padding-right: 15px;
}
footer {
  margin: 100px;
  font-size: 15px;
}
