.corpo{
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.tblFicha{
    font-size: 17px;
    display: inline-block;
    border-spacing: 0px;
}
td{
    border: 1px solid rgba(0,0,0, .8);
    padding: 5px;
    text-align: center;
    justify-content: center
}
.tdInput{
    padding: 5px;
    width: 60px;
    border-bottom: none;
    border-right: none;
}
#ingredientes{
    width: 150px;
}
input{
    width: 90px;
    height: 30px;
    background-color: none;
    border: none;
    border-bottom: 1px solid black;
}