<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Receitas</title>
		<link rel="stylesheet" href="../css/style.css" />
		<script type="module" src="../script/main.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap"
			rel="stylesheet" />
	</head>
	<body>
		<header class="menu">
			<div class="menu-content">
				<h1><a href="#home">LOGO</a></h1>

				<nav>
					<ul>
						<li><a href="./src/templates/home">Home</a></li>
						<li><a href="./src/templates/tabela.html">Calculadora</a></li>
						<li><a href="./src/templates/receitas">Receitas</a></li>
						<li><a href="#containerIframe">Sobre</a></li>
					</ul>
					<button class="darkMode">
						<span class="material-icons"> dark_mode </span>
					</button>
				</nav>
			</div>
		</header>

		<h1>Conteúdo:</h1>
		<ul>
			<li>Buscar api de receitas.</li>
			<li>Veganas, fitness, facil e simples.</li>
		</ul>
	</body>
</html>
