:root {
  --primary-color: #0a1128;
  --secondary-color: crimson;
  --terceary-color: #56b665;
  --white-color: #ffffff;
  --light-gray-color: #eeeeee;
  --black-rgba: rgba(0, 0, 0, 0.4);
  --black-bg-color: #000000;
  --black-dark-theme: #282A36;
  --orange-color: #cd7d3c;
  --gap: 3rem;
}

/* Geral */
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  transition: 5ms ease-in-out;
}

body {
  background-color: var(--white-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 80px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

h1 {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--orange-color);
}

h2 {
  font-size: 17px;
  color: var(--orange-color);
}

p {
  text-indent: 30pt;
  text-align: justify;
  font-size: 16px;
  margin: 10px 20px 0px 20px;
}

.lightTheme {
  color: var(--black-bg-color);
  background-color: var(--white-color);
}

.darkThemeBlocks {
  background-color: red;
}

.darkTheme {
  color: var(--white-color);
  background-color: var(--black-dark-theme);
}

.bg-table {
  border-top: 1px solid var(--light-gray-color);
}

.bg-table h1 {
  color: var(--terceary-color);
  font-weight: bold;
}

.bg-table h2,
.headerTable {
  color: var(--orange-color);
  font-weight: bold;
}

.bg-table p {
  text-indent: 0;
  padding: 0;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

.section {
  min-height: 100vh;
}

/* Menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid var(--light-gray-color);
  background-color: var(--white-color);
}

.menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  gap: 15rem;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu nav {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

a {
  text-decoration: none;
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.menu ul li a {
  display: block;
  padding: 10px;
  font-size: 24px;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  top: 85%;
  width: 0;
  height: 0.2rem;
  background: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 60%;
  left: 20%;
}

/* ========================================================================================= */
/*Inputs*/
#ingredients {
  width: 100px;
}

#foodTable input {
  width: 90px;
  text-align: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid;
  color: var(--primary-color);
}

.restInputs {
  padding: 10px;
  margin: 5px;
  position: relative;
  font-size: 15px;
  width: 88%;
}

#containerTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 15px;
  gap: 1rem;
}

#divTable {
  overflow: hidden;
  width: 520px;
  min-height: 400px;
  border-radius: 0.5rem;
  border: 1px solid var(--black-rgba);
  background-color: var(--light-gray-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#foodTable {
  display: table;
  position: relative;
  overflow: auto;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  border-spacing: 0px;
  text-align: center;
  color: var(--primary-color);
  padding: 10px;
}

th {
  padding: 5px;
}

.headerTable {
  padding: 10px;
}

.divCusto {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.blockResult {
  border-left: 0.3rem solid var(--terceary-color);
  padding: 10px;
  border-radius: 0.2rem;
  box-shadow: 0.3px 0.3px 0 1px var(--black-rgba);
  background-color: var(--white-color);
  font-weight: bold;
  color: var(--terceary-color);
  max-width: 200px;
}

.thResult {
  width: 3.8rem;
}

.container-custos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  min-height: 230px;
  width: 660px;
}

.container-custos p {
  text-indent: 0px;
  margin: 0 0 0 5px;
}

#custosUni {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.5rem;
  width: 300px;
  padding: 10px;
  border: 1px solid var(--black-rgba);
  background-color: var(--light-gray-color);
  color: var(--primary-color);
}

.custosFixos {
  border-radius: 0.5rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--black-rgba);
  background-color: var(--light-gray-color);
  color: var(--primary-color);
}

#container--lucro {
  border-radius: 0.5rem;
  width: 500px;
  display: block;
  padding: 1rem;
  margin-top: 0.8rem;
  border: 1px solid var(--black-rgba);
  background-color: var(--light-gray-color);
  color: var(--primary-color);
}

/*Botões*/
.material-icons {
  background: none;
}

.btnAdd {
  border: none;
  cursor: pointer;
  background: none;
  color: var(--terceary-color);
  transition: 5ms ease-in-out;
}

#btnAdd:hover {
  transform: scale(1.1);
}

#btnEdit,
#btnDelete,
#btnDone {
  padding: 0px;
  margin: 0px;
  border: none;
  color: rgb(155, 155, 155);
  background-color: transparent;
  scale: 0.6;
  cursor: pointer;
}

#btnEdit:hover {
  transform: scale(1.2);
  color: blue;
}

.darkMode {
  background: transparent;
  border: none;
  cursor: pointer;
}

.darkMode:hover {
  transform: scale(1.1);
  color: var(--orange-color);
}

.ranges {
  width: 100%;
  margin-top: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--terceary-color);
  height: 7px;
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4.5px;
}
/* Footer */
.rodape {
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
  border-top: 0.1rem solid var(--black-rgba);
  background-color: var(--green-teal-color);
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  font-family: "Open Sans", sans-serif;
}

.contact {
  list-style: none;
  font-size: 18px;
  display: flex;
}

.contact li a {
  display: block;
  margin: 0 25px 0 25px;
  cursor: pointer;
  color: var(--primary-color);
  transition: 200ms ease-in-out;
}

.contact li:hover {
  text-decoration: underline;
  transform: scale(1.01);
}
