/* Geral */
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  transition: 5ms ease-in-out;  
}
body {
  background-color: #FFFFFF;
  margin-top: 80px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

section {
  align-items: center;
  align-content: center;
  font-size: 13px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
}
h1 {
  font-size: 17px;
  padding: 10px;
  color: #333;
  margin: 10px;
}
h2 {
  font-size: 16px;
  padding: 10px;
  color: #333;
}
p {
  text-indent: 30pt;
  text-align: justify;
  font-size: 15px;
  margin: 10px 20px 0px 20px;
}
/*Inputs*/
#ingredients {
  width: 100px;
}
input {
  width: 70px;
  text-align: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid;
}
/*Tabela custos*/
#containerTable {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  min-height: 400px;
  margin: 15px;
  gap: 15px;
  background-color:#D5F0D2;
}
#divTable {
  overflow-y: auto;
  background: #C0E8BB;
  width: 500px;
  overflow-y: auto;
  border-radius: 15px;
}
#foodTable {
  display: table;
  position: relative;
  overflow-y: auto;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  border-spacing: 0px;
  text-align: center;
  padding: 10px;
}
.container-custos p {
  margin-bottom: 30px;
  text-indent: 0px;
}
#custosUni {
  display: block;
  border-radius: 15px;
  width: 400px;
  padding: 10px;
  background: #C0E8BB;
}
.custosFixos {
  border-radius: 15px;
  width: 400px;
  display: block;
  padding: 10px;
  margin-top: 30px;
  background: #C0E8BB;
}
/*Botões*/
.material-icons{
  background: none;
}
.btnAdd {
  border: none;
  cursor: pointer;
  background: none;
  color: blue;
  transition: 0, 5 ease-in-out;
}
#btnAdd:hover {
  transform: scale(1.1);
}
#btnEdit,
#btnDelete,
#btnDone {
  padding: 0px;
  margin: 0px;
  border: none;
  color: rgb(155, 155, 155);
  background-color: transparent;
  scale: 0.6;
  cursor: pointer;
}
#btnEdit:hover {
  transform: scale(1.2);
  color: blue;
}
.darkMode {
  background: transparent;
  border: none;
  cursor: pointer;
}
.darkMode:hover {
  transform: scale(1.1);
}
footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(248, 255, 243);
  color: black;
}
