:root {
  --primary-color: #0a1128;
  --white-color: #ffffff;
  --light-gray-color: #eeeeee;
  --secondary-color: crimson;
  --gap: 3rem;
}

/* Geral */
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  transition: 5ms ease-in-out;  
}

body {
  background-color: var(--white-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 80px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

h1 {
  font-size: 22px;
  text-transform: uppercase;
}

h2 {
  font-size: 17px;
}

.bg-green {
  background: url('../img/abstract-envelope.svg');
  background-size: cover;
  background-position: center center;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

.section {
  min-height: 100vh;
}

p {
  text-indent: 30pt;
  text-align: justify;
  font-size: 15px;
  margin: 10px 20px 0px 20px;
}
/* Menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid var(--light-gray-color);
  background-color: var(--white-color); 
}

.menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  gap: 15rem;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
}

.menu nav {
  display: flex;
}

a {
  text-decoration: none;
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.menu ul li a {
  display: block;
  padding: 10px;
  font-size: 24px;
  color: var(--primary-color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  top: 85%;
  width: 0;
  height: 0.2rem;
  background: var(--secondary-color); 
  transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 60%;
  left: 20%;
}

/* ========================================================================================= */
/*Inputs*/
#ingredients {
  width: 100px;
}
input {
  width: 70px;
  text-align: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid;
}
/*Tabela custos*/
#containerTable {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 15px;
  gap: 15px;
}
#divTable {
  overflow-y: auto;
  background: #C0E8BB;
  width: 500px;
  overflow-y: auto;
  border-radius: 15px;
}
#foodTable {
  display: table;
  position: relative;
  overflow-y: auto;
  width: 100%;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
  border-spacing: 0px;
  text-align: center;
  padding: 10px;
}
.container-custos p {
  margin-bottom: 30px;
  text-indent: 0px;
}
#custosUni {
  display: block;
  border-radius: 15px;
  width: 400px;
  padding: 10px;
  background: #C0E8BB;
}
.custosFixos {
  border-radius: 15px;
  width: 400px;
  display: block;
  padding: 10px;
  margin-top: 30px;
  background: #C0E8BB;
}
/*Botões*/
.material-icons{
  background: none;
}
.btnAdd {
  border: none;
  cursor: pointer;
  background: none;
  color: blue;
  transition: 0, 5 ease-in-out;
}
#btnAdd:hover {
  transform: scale(1.1);
}
#btnEdit,
#btnDelete,
#btnDone {
  padding: 0px;
  margin: 0px;
  border: none;
  color: rgb(155, 155, 155);
  background-color: transparent;
  scale: 0.6;
  cursor: pointer;
}
#btnEdit:hover {
  transform: scale(1.2);
  color: blue;
}
.darkMode {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5rem;
}
.darkMode:hover {
  transform: scale(1.1);
  color: rgb(199, 162, 0);
}
/* Footer */
.rodape {
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
  border-top: 0.1rem solid var(--light-gray-color);
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
}

.contact {
  list-style: none;
  font-size: 18px;
  display: flex;
}

.contact li a {
  display: block;
  margin: 0 25px 0 25px;
  cursor: pointer;
  color: var(--primary-color);
  transition: 200ms ease-in-out;
}

.contact li:hover {
  text-decoration: underline;
  transform: scale(1.01);
}
